@media screen and (max-width:767px) {
    .hero-section .home-image .img-box{
      max-width: 300px;
      box-shadow: 0px 0px 40px #2fd4d4;
      margin-left:50lvw;
      margin-right: auto;
      margin-top: -300px;
      border-radius: 50%;
  }
  .hero-section .home-image .img-box img{
      width: 100%;
      border-radius: 50%;
      border: 10px solid transparent;
  }
  .hero-section .content {
    margin: 0 30px;
    width: 100%;
    color: #fff;
  }
  @keyframes hero-section {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  .hero-section .content h4 {
    margin-top: 12rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #80d0e6;
    text-shadow: 0px 0px 1.5px rgb(255, 255, 255);
    
  }

  .hero-section .content h2 {
    -webkit-text-stroke: 0.8px black;
    text-shadow: 0px 0px 5px  #78daf5;
    margin-top: 20px;
    font-size:  4rem;
    font-family: 'Inter-Bold', sans-serif;
    max-width: 600px;
    line-height: 70px;
  }
  .hero-section .content h3 {
    color: #80d0e6;
   
    text-shadow: 0px 0px 1.5px rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: 'Inter-Bold', sans-serif;
    max-width: 600px;
    margin-top: 20px;
  }
  .hero-section .content p{
      font-size: 1rem;
      font-weight: bold;
      font-family: 'Inter-Bold', sans-serif;
      max-width: 500px;
      margin-top: 20px;
    }
  
  .hero-section .content button {
    background: #fff;
   font-weight: bold;
    padding: 12px 30px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.2s ease;
    
  }
  .hero-section .content .btn-2{
    background: #fff;
   font-weight: bold;
    padding: 12px 30px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 40px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    
  }
  
  .hero-section .content button:hover {
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 0px 8px #80d0e6;
    background: #26a2c4;
  }

 .frame-1 {
    height: 648px;
    position: absolute;
    right: -47.79%;
    left: -44.66%;
    width: 192.45%;
    top: calc(50% - 239px);
    }
    .desktop-1 h2{
      text-align: center;
    }

 .group-2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    inset: 0;
    }


 .r-1 {
    margin-left: auto;
    margin-right: auto;
    background:  transparent;
    border-radius: 25px;
    border-style: solid;
    border-color:black;
    box-shadow: 0px 0px 20px #2fd4d4;
    border-width: 20px;
    height: 48px;
    position: absolute;
    right: 53.79%;
    left: 14.9%;
    width: 10.31%;
    top: calc(50% - 109px);
    filter: blur(2px);
    }

 .r-2 {
  margin-left: auto;
  margin-right: auto;
    background:  transparent;
    border-radius: 25px;
    border-style: solid;
    border-color:black;
    box-shadow: 0px 0px 20px #2fd4d4;
    border-width: 20px;
    height: 48px;
    position: absolute;
    right: 53.79%;
    left: 14.9%;
    width: 10.31%;
    top: calc(50% - -53px);
    filter: blur(2px);
    }

 .r-3 {
  margin-left: auto;
  margin-right: auto;
    background:  transparent;
    border-radius: 25px;
    border-style: solid;
    border-color:black;
    box-shadow: 0px 0px 20px #2fd4d4;
    border-width: 20px;
    height: 48px;
    position: absolute;
    right: 53.79%;
    left: 14.9%;
    width: 10.31%;
    top: calc(50% - -214px);
    filter: blur(2px);
    }

 .r-7 {
  margin-left: auto;
  margin-right: auto;
    background:  transparent;
    border-radius: 25px;
    border-style: solid;
    box-shadow: 0px 0px 20px #2fd4d4;
    border-color:black;
    border-width: 20px;
    height: 48px;
    position: absolute;
    right: 53.65%;
    left: 14.9%;
    width: 10.31%;
    top: calc(50% - 270px);
    filter: blur(2px);
    }

 .c {
    color: linear-gradient(180deg, rgba(47, 212, 212, 1.00) 99.98999834060669%,rgba(47, 212, 212, 0.00) 100%);
    text-align: left;
    font-family: 'Inter-Black', sans-serif;
    font-size: 15px;
    font-weight: 900;
    position: absolute;
    right: 47.56%;
    left: 25.71%;
    width: 26.73%;
    bottom: 608px;
    top: -18px;
    }

 .frontend-development {
    color: linear-gradient(180deg, rgba(47, 212, 212, 1.00) 99.98999834060669%,rgba(47, 212, 212, 0.00) 100%);
    text-align: left;
    font-family: 'Inter-Black', sans-serif;
    font-size: 15px;
    font-weight: 900;
    position: absolute;
    right: 69.22%;
    left: 25.71%;
    top: calc(50% - 180px);
    height: 61px;
    }

 .figma {
    color: linear-gradient(180deg, rgba(47, 212, 212, 1.00) 99.98999834060669%,rgba(47, 212, 212, 0.00) 100%);
    text-align: left;
    font-family: 'Inter-Black', sans-serif;
    font-size: 15px;
    font-weight: 900;
    position: absolute;
    right: 69.22%;
    left: 25.71%;
    width: 5.07%;
    top: calc(50% - 19px);
    height: 32px;
    }

 .ms-office {
    color: linear-gradient(180deg, rgba(47, 212, 212, 1.00) 99.98999834060669%,rgba(47, 212, 212, 0.00) 100%);
    text-align: left;
    font-family: 'Inter-Black', sans-serif;
    font-size: 15px;
    left: 25.71%;
    font-weight: 900;
    position: absolute;
    top: calc(50% - -143px);
    height: 32px;
    }

 .rectangle-1 {
  margin-left: auto;
  margin-right: auto;
    background: #ffffff;
    border-radius: 10px;
    height: 12px;
    position: absolute;
    right: 58.66%;
    left: 17.6%;
    width: 6.6%;
    top: calc(50% - 253px);
    }

 .rectangle-2 {
  margin-left: auto;
  margin-right: auto;
    background: #ffffff;
    border-radius: 10px;
    height: 12px;
    position: absolute;
    right: 59.68%;
    left: 18.7%; 
    width: 6.6%;
    top: calc(50% - 91px);
    }

 .rectangle-3 {
  margin-left: auto;
  margin-right: auto;
    background: #ffffff;
    border-radius: 10px;
    height: 12px;
    position: absolute;
    right: 61.37%;
    left: 21%;
    width: 7.25%;
    top: calc(50% - -72px);
    }

 .rectangle-4 {
  margin-left: auto;
  margin-right: auto;
    background: #ffffff;
    border-radius: 10px;
    height: 12px;
    position: absolute;
    right: 58.66%;
    left: 17.6%;
    width: 6.6%;
    top: calc(50% - -232px);
    }

 .group-3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    inset: 0;
    }

 .r-4 {
  margin-left: auto;
  margin-right: auto;
    background:  transparent;
    box-shadow: 0px 0px 20px #2fd4d4;
    border-radius: 25px;
    border-style: solid;
    border-color:black;
    border-width: 20px;
    height: 48px;
    position: absolute;
    right: 27.13%;
    left: 16%;
    width: 10.31%;
    top: calc(50% - 109px);
    filter: blur(2px);
    }

 .r-5 {
  margin-left: auto;
  margin-right: auto;
    background:  transparent;
    border-radius: 25px;
    border-style: solid;
    border-color:black;
    box-shadow: 0px 0px 20px #2fd4d4;
    border-width: 20px;
    height: 48px;
    position: absolute;
    right: 27.13%;
    left: 16%;
    width: 10.31%;
    top: calc(50% - -53px);
    filter: blur(2px);
    }

 .r-6 {
  margin-left: auto;
  margin-right: auto;
    background:  transparent;
    border-radius: 25px;
    border-style: solid;
    border-color:black;
    box-shadow: 0px 0px 20px #2fd4d4;
    border-width: 20px;
    height: 48px;
    position: absolute;
    right: 27.13%;
    left: 16%;
    width: 10.31%;
    top: calc(50% - -214px);
    filter: blur(2px);
    }

 .r-8 {
  margin-left: auto;
  margin-right: auto;
    background:  transparent;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    box-shadow: 0px 0px 20px #2fd4d4;
    border-width: 20px;
    height: 51px;
    position: absolute;
    right: 27.13%;
    left: 16%;
    width: 10.31%;
    top: calc(50% - 270px);
    filter: blur(2px);
    }

 .canva {
    color: linear-gradient(180deg, rgba(47, 212, 212, 1.00) 99.98999834060669%,rgba(47, 212, 212, 0.00) 100%);
    text-align: left;
    font-family: 'Inter-Black', sans-serif;
    font-size: 15px;
    font-weight: 900;
    position: absolute;
    left: 40%;
    width: 5.62%;
    top: calc(50% - -148px);
    height: 61px;
    }

 .git-hub {
    color: linear-gradient(180deg, rgba(47, 212, 212, 1.00) 99.98999834060669%,rgba(47, 212, 212, 0.00) 100%);
    text-align: left;
    font-family: 'Inter-Black', sans-serif;
    font-size: 15px;
    font-weight: 900;
    position: absolute;
    left: 40%;
    width: 5.19%;
    top: calc(50% - 180px);
    height: 32px;
    }

 .word-press {
    color: linear-gradient(180deg, rgba(47, 212, 212, 1.00) 99.98999834060669%,rgba(47, 212, 212, 0.00) 100%);
    text-align: left;
    font-family: 'Inter-Black', sans-serif;
    font-size: 15px;
    font-weight: 900;
    position: absolute;
    right: 39%;
    left: 40%;
    width: 7.03%;
    top: calc(50% - 342px);
    height: 32px;
    }

 .sql {
    color: linear-gradient(180deg, rgba(47, 212, 212, 1.00) 99.98999834060669%,rgba(47, 212, 212, 0.00) 100%);
    text-align: left;
    font-family: 'Inter-Black', sans-serif;
    font-size: 15px;
    font-weight: 900;
    position: absolute;

    left: 40%;
    width: 1.98%;
    top: calc(50% - 13px);
    height: 32px;
    }

 .rectangle-5 {
  margin-left: auto;
  margin-right: auto;
    background: #ffffff;
    border-radius: 10px;
    height: 12px;
    position: absolute;
    right: 37.57%;
    left: 23%;
    width: 5.5%;
    top: calc(50% - 251px);
    }

 .rectangle-6 {
  margin-left: auto;
  margin-right: auto;
    background: #ffffff;
    border-radius: 10px;
    height: 12px;
    position: absolute;
    right: 34.95%;
    left: 20.3%;
    width: 5.5%;
    top: calc(50% - 91px);
    }

 .rectangle-7 {
  margin-left: auto;
  margin-right: auto;
    background: #ffffff;
    border-radius: 10px;
    height: 12px;
    position: absolute;
    right: 39%;
    left: 24%;
    width: 5.03%;
    top: calc(50% - -71px);
    }

 .rectangle-8 {
  margin-left: auto;
  margin-right: auto;
    background: #ffffff;
    border-radius: 10px;
    height: 12px;
    position: absolute;
    right: 33.95%;
    left: 21%;
    width: 7%;
    top: calc(50% - -232px);
    }
  }
.skil{
visibility: hidden;

}



  @media (max-width: 480px) {
    .section-title {
      text-align: center;
      font-size: 2rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .desktop-1, .desktop-1 * {
      box-sizing: border-box;
      }
  .desktop-1 {
      width: 100vw;
      min-height: 100vh;
      position: relative;
      margin-top: 10px;
      overflow: hidden;
      }
      
  .desktop-1 .skil{
 visibility: hidden;
  }
 
  
   .frame-1 {
      height: 648px;
      position: absolute;
      right: -43.48%;
      left: -44.69%;
      width: 188.16%;
      top: calc(50% - 239px);
      }
  
   .group-2 {
      position: absolute;
      inset: 0;
      }
      
  .r-9{
    background:  transparent;
    border-radius: 25px;
    border-style: solid;
    border-color:black;
    box-shadow: 0px 0px 20px #2fd4d4;
    border-width: 1px;
    height: 13%;
    position: absolute;
    right: 53.79%;
    left: 30.5%;
    width: 13%;
    top: -100px;
    filter: blur(2px);
  }
   .r-1 {
      background:  transparent;
      border-radius: 25px;
      border-style: solid;
      border-color:black;
      border-width: 1px;
      height: 13%;
      position: absolute;
      right: 53.79%;
      left: 27.86%;
      width: 13%;
      top: calc(50% -150px);
      filter: blur(2px);
      }
  
   .r-2 {
      background:  transparent;
      border-radius: 25px;
      border-style: solid;
      border-color:black;
      border-width: 1px;
      height: 13%;
      position: absolute;
      right: 53.79%;
      left: 27.86%;
      width: 13%;
      top: calc(50% -150px);
      filter: blur(2px);
      }
  
   .r-3 {
      background:  transparent;
      border-radius: 25px;
      border-style: solid;
      border-color:black;
      border-width: 1px;
      height: 13%;
      position: absolute;
      right: 53.79%;
      left: 27.86%;
      width: 13%;
      top: calc(50% - -214px);
      filter: blur(2px);
      }
  
   .r-7 {
      background:  transparent;
      border-radius: 25px;
      border-style: solid;
      border-color:black;
      border-width: 1px;
      height: 13%;
      position: absolute;
      right: 53.66%;
      left: 27.98%;
      width: 13%;
      top: calc(50% - 270px);
      filter: blur(2px);
      }
  
  .rectangle-9{
    background: url("images/icons8-c-50.png") no-repeat;
    border-radius: 10px;
    height: 12%;
    position: absolute;
    right: 58.79%;
    left: 33.8%;
    width: 12%;
    top: -85px;
  }
  
   .rectangle-1 {
      background: url("images/icons8-python-50.png") no-repeat;
      border-radius: 10px;
      height: 12%;
      position: absolute;
      right: 58.79%;
      left: 33.8%;
      width: 12%;
      top: calc(50% - 253px);
      }
  
   .rectangle-2 {
      background: url("images/icons8-frontend-64.png") no-repeat;
      border-radius: 10px;
      height: 9%;
      position: absolute;
      right: 59.56%;
      left: 33%;
      width: 8%;
      top: calc(50% - 94px);
      }
  
   .rectangle-3 {
      background: url("images/icons8-figma-50.png") no-repeat;
      background-position: cover;
      border-radius: 10px;
      height: 10%;
      position: absolute;
      right: 60.85%;
      left: 33.4%;
      width: 12%;
      top: calc(50% - -72px);
      }
  
   .rectangle-4 {
      background: url("images/icons8-ms-office-50.png") no-repeat;
      border-radius: 10px;
      height: 10%;
      position: absolute;
      right: 58.79%;
      left: 33%;
      width: 11.55%;
      top: calc(50% - -232px);
      }
    .c{
      visibility: hidden;

    }
    .frontend-development{
      visibility: hidden;
    }
    .figma{
      visibility: hidden;
    }
    .ms-office{
      visibility: hidden;
    }
    .git-hub{
      visibility: hidden;
    }
    .sql{
      visibility: hidden;
    }
    .canva{
      visibility: hidden;
    }
   .group-3 {
      position: absolute;
      inset: 0;
      }
    .r-10{
      background: transparent;
       border-radius: 25px;
      border-style: solid;
      border-color:black;
       box-shadow: 0px 0px 20px #2fd4d4;
      border-width: 1px;
      height: 13%;
      position: absolute;
      left: 54.5%;
      width: 13%;
      top: -100px;
      filter: blur(2px);
      }
  
   .r-4 {
      background: transparent;
       border-radius: 25px;
      border-style: solid;
      border-color:black;
      border-width: 1px;
      height: 13%;
      position: absolute;
      right: 30.04%;
      left: 51.6%;
      width: 13%;
      top: calc(50% - 109px);
      filter: blur(2px);
      }
  
   .r-5 {
      background:  transparent;
      border-radius: 25px;
      border-style: solid;
      border-color:black;
      border-width: 1px;
      height: 13%;
      position: absolute;
      right: 30.04%;
      left: 51.6%;
      width: 13%;
      top: calc(50% - -53px);
      filter: blur(2px);
      }
  
   .r-6 {
      background:  transparent;
      border-radius: 25px;
      border-style: solid;
      border-color:black;
      border-width: 1px;
      height: 13%;
      position: absolute;
      right: 30.04%;
      left: 51.6%;
      width: 13%;
      top: calc(50% - -214px);
      filter: blur(2px);
      }
  
   .r-8 {
      background: transparent;
      border-radius: 25px;
      border-style: solid;
      border-color:black;
      border-width: 1px;
      height: 13%;
      position: absolute;
      right: 30.04%;
      left: 51.6%;
      width: 13%;
      top: calc(50% - 270px);
      filter: blur(2px);
      }
  
   .word-press {
      color: linear-gradient(180deg, rgba(47, 212, 212, 1.00) 99.98999834060669%,rgba(47, 212, 212, 0.00) 100%);
      text-align: left;
      font-family: 'Inter-Black', sans-serif;
      font-size: 20px;
      font-weight: 900;
      position: absolute;
     
      left: 53.02%;
      width: 16.94%;
      top: calc(50% - 343px);
      visibility: hidden;
      height: 72px;
      }
    .rectangle-10{
      background: url("images/icons8-flutter-is-an-open-source-mobile-application-development-framework-created-by-google.-48.png") no-repeat;
      border-radius: 10px;
      height: 11%;
      position: absolute;
     left: 57%;
      width: 11%;
      top: -85px;
    }
   .rectangle-5 {
      background: url("images/icons8-wordpress-64.png") no-repeat;
      border-radius: 10px;
      height: 11%;
      position: absolute;
     
      left: 56.3%;
      width: 11%;
      top: calc(50% - 259px);
      }
  
   .rectangle-6 {
    background: url("images/icons8-github-48.png") no-repeat;
      border-radius: 10px;
      height: 26%;
      position: absolute;
      left: 57.5%;
      width: 26%;
      top: calc(50% - 90px);
      }
  
   .rectangle-7 {
     
      background: url("images/icons8-sql-60.png") no-repeat;
      border-radius: 10px;
      height: 10%;
      position: absolute;
      right: 39.92%;
      left: 57.5%;
      width: 10%;
      top: calc(50% - -66px);
      }
  
   .rectangle-8 {
      background: url("images/icons8-canva-50.png") no-repeat;
      border-radius: 10px;
      height: 18%;
      position: absolute;
      right: 35.43%;
      left: 57.02%;
      width: 18%;
      top: calc(50% - -232px);
      }
  
    header {

      padding: 10px;
    }
  
    header.show-mobile-menu::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
    }
  
    .navbar .logo {
      font-size: 1.2rem;
    }
  
      
    #hamburger-btn, #close-menu-btn {
      display: block;
    }
  
    .navbar .menu-links {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100vh;
      background: #fff;
      flex-direction: column;
      padding: 70px 40px 0;
      transition: left 0.2s ease;
      z-index: 1;
    }
  
    header.show-mobile-menu .navbar .menu-links {
      left: 0;
    }
  
    .navbar a {
      color: #000;
    }
    .hero-section{
      height: 100vh;
      background-position: center;
      background-size: cover;
      display: flex;
      
      
    }
    @keyframes hero-section {
      0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
      }
    
      100% {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
    .hero-section .content {
      text-align: center;
      top: 300;
      bottom:-200vh;
  
    }
    
    .hero-section .content h4 {
      text-align: center;
      
      margin-top: 52vh;
      font-size: 1.5rem;
      font-weight: bold;
      color: #80d0e6;
      text-shadow: 0px 0px 1px rgb(255, 255, 255);
      
    }
    .hero-section .content h2 {
      margin-top: auto;
    text-align: center;
    -webkit-text-stroke: 0.6px black;
      text-shadow: 0px 0px 4px #80d0e6;
    margin-left: auto;
    margin-right: auto;
    font-size: 5rem;
    font-family: 'Inter-Bold', sans-serif;
    max-width: 600px;

  }
  
  .hero-section .content h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 1px rgb(255, 255, 255);
    font-family: 'Inter-Bold', sans-serif;
    max-width: 500px;
    margin-top: 8px;
  }
  .hero-section .content p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
      text-shadow: 2px 2px black;
      font-size: 1rem;
      font-family: 'Inter-Bold', sans-serif;
      max-width: 500px;
      margin-top: 8px;
    }
  
  .hero-section .content button {
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    font-weight: bold;
    font-weight: bolder;
    padding: 6px 15px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.2s ease;
  }
  .hero-section .content .btn-2{
    background: #fff;
   font-weight: bold;
    padding: 9px 15px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 25px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    
  }
  .hero-section .home-image .img-box{
    max-width: 50vw;
    box-shadow:  0px 0px 40px #2fd4d4;
    margin-left:auto;
    margin-right: auto;
    margin-top: -580px;
    margin-bottom: auto;
    border-radius: 50%;
}
.hero-section .home-image .img-box img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}
    .home__social {
      display: flex;
      margin-top: 20px;
      gap: 2px;
    }
    
    .home__social-icon {
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      color: white;
    }
    
    .home__social-icon:hover {
      color: #0f080b;
    }
  
    .hero-section .content h2 {
      font-size: 2.3rem;
      line-height: 60px;
    }
    
    .hero-section .content button {
      padding: 9px 18px;
    }
    .floating-contact-form .contact-icon {
      bottom: 20px;
      right: 0px;
      cursor: pointer;
    
    }
    
    .floating-contact-form .contact-icon p {
      color: antiquewhite;
      text-align: right;
      text-shadow: 2px 2px black;
      margin-top: 8px;
      font-size: 1rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding-left: 120px;
    
    }
    .floating-contact-form .contact-icon i {
      font-size: 30px;
      margin-left: 150px;
      text-shadow: 3px 3px black;
      color: #f3f3f3;
      transition: all 300ms ease;
    }
    
    .floating-contact-form .contact-icon i:hover {
      transform: scale(1.1);
    }
    
    .floating-contact-form .form-container {
      position: fixed;
      bottom: 120px;
      right: 50px;
      padding: 24px 36px;
      width: 310px;
      font-family: "Roboto", sans-serif;
      box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
      border-radius: 24px;
    
      transform: rotateZ(-6deg);
      transform-origin: bottom right;
      opacity: 0;
      pointer-events: none;
      transition: all 500ms ease;
    }
    
    .floating-contact-form .form-container.active {
      transform: rotateZ(0deg);
      opacity: 1;
      pointer-events: auto;
    }
    
    .floating-contact-form * {
      box-sizing: border-box;
    }
    
    .floating-contact-form h3 {
      font-size: 30px;
      color: #ede7e7;
      margin-top: 10px;
      position: relative;
    }
    
    .floating-contact-form h3::after {
      content: "";
      height: 3px;
      width: 26px;
      background: #070404;
      position: absolute;
      left: 0;
      bottom: -4px;
    }
    
    .floating-contact-form form input[type="text"],
    .floating-contact-form form textarea {
      width: 100%;
      padding: 14px 32px;
      padding-left: 40px;
      font-size: 16px;
      border: 1px solid rgba(0, 47, 73, 0.3);
      border-radius: 8px;
      color: rgb(1, 1, 47);
      margin-bottom: 20px;
    }
    
    .floating-contact-form form input:focus,
    .floating-contact-form form textarea:focus {
      outline: none;
    }
    
    .floating-contact-form .field-container {
      position: relative;
    }
    
    .floating-contact-form .field-container label {
      position: absolute;
      top: 16px;
      left: 40px;
      color: rgb(1, 1, 47);
      border-left: 8px solid #fff;
      border-right: 8px solid #fff;
      transition: all 300ms ease;
      pointer-events: none;
    }
    
    .floating-contact-form .field-container label.active {
      font-size: 13px;
      background: #070404;
      color: #fff;
      padding: 2px 16px;
      top: -8px;
      left: 24px;
      font-weight: bold;
    }
    
    .floating-contact-form .field-container i {
      position: absolute;
      top: 16px;
      left: 12px;
      color: rgb(1, 1, 47);
    }
    
    .floating-contact-form form textarea {
      height: 150px;
      resize: none;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
    }
    
    
    .floating-contact-form form input[type="submit"] {
      border: none;
      background: rgb(1, 1, 47);
      color: #fff;
      padding: 16px 32px;
      width: 70%;
      border-radius: 24px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: all 500ms ease;
    }
    
    .floating-contact-form form input[type="submit"]:hover {
      background: #030506;
    }
  
  }

